.name{
    color: black;
    font-size: calc(6px + 2vmin);
    display: flex;
    justify-content: center;
}
.header{    
    padding-top: 20px;
}
.profilepic{
    padding-left:60px;
    height: 400px !important;
    width: fit-content !important;
}
.Contact_Details{
    display: flex;
    flex-direction: column;
}
.links{
    display: flex;
}
.links  a{
    text-decoration: none !important;
    color: black;
    padding-left: 20px;
}
.educationflex{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
