.name{
    color: black;
    font-size: calc(6px + 2vmin);
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    animation: flicker 1.5s infinite alternate;
}
.header{    
    padding-top: 20px;
}
.profilepicwrapper{
    display: flex;
    justify-content: center;
}
.profilepic{
    border: 10px solid rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    height: 400px !important;
    width: 400px !important;
}
.Contact_Details{
    display: flex;
    flex-direction: column;
}
.links{
    display: flex;
}
.links  a{
    text-decoration: none !important;
    color: black;
    padding-left: 20px;
}
.educationflex{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.Contact{
    display: flex;
    justify-content: center;
}
.Cvbody{
    padding: 30px 30px 30px;
    background-color: rgb(233, 233, 233);
}

.skills__image{
    margin-top: 20px;
    height: 70px !important;
}

@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 19px #0fa,
        0 0 19px #0fa,
        0 0 19px #0fa,
        0 0 19px #0fa,
        0 0 19px #0fa;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
  h2{
      padding-top: 30px;
      color: white;
  }
  ul{
      list-style: none;
  }
  